body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #aaa;
}
.gradient {
    background-image: radial-gradient(#CCC087, #444444);
    background-size: cover;
}

.bg-picture {
    background-image: url('https://picsum.photos/1920/1080?grayscale&blur=3');
    background-size: cover;
    background-attachment: fixed ;
}


main {
    width: 100vw;
    min-height: 95vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.C, .Cis {
    background-color: #E72B55;
}

.D, .Dis, .Des {
    background-color: #F7E978;
}

.E, .Es {
    background-color: #7AB6D8;
}

.F, .Fis {
    background-color: #CC9648;
}

.G, .Gis, .Ges {
    background-color: #F18039;
}

.A, .Ais, .As {
    background-color: #79E77E;
}

.B, .B♭ {
    background-color: #ccc;
}
